{% extends 'SonataAdminBundle::standard_layout.html.twig' %}
{% block meta_tags %}
    {{parent()}}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        /****************** HIDE ON TOP OPTIONS ADMIN MENU WHEN DONT HAVE ANY CHILD **************************/
        (function ($) {
            if (!$.exist) {
                $.extend({
                    exist: function (elm) {
                        if (typeof elm == null || elm == undefined)
                            return false;

                        if (typeof elm == "object" && elm instanceof jQuery && elm.length) {
                            if ($.contains(document.documentElement, elm[0]))
                                return true;
                        } else if (typeof elm == "string") {
                            if ($(elm).length)
                                return true;
                        }

                        return false;
                    }
                });
                $.fn.extend({exist: function () {
                        return $.exist($(this));
                    }});
            }
        })(jQuery);
        $(document).ready(function () {
            var menuOption = $('.main-sidebar .sidebar-menu > li');
            $(menuOption).each(function () {
                console.log($(this).children('a').attr('href'));
                console.log(!$(this).find('ul').exist());
                if ($(this).children('a').attr('href') == '#' && !$(this).find('ul').exist()) {
                    $(this).addClass('hidden');
                }
            });
        });
        /****************** /HIDE ON TOP OPTIONS ADMIN MENU WHEN DONT HAVE ANY CHILD **************************/
    </script>
{% endblock %}

{# removes top search bar #}
{% block sonata_sidebar_search %}{% endblock %}

{% block logo %}
    {% if admin_pool is defined %}
        {% spaceless %}
            <a class="logo" href="{{ path('sonata_admin_dashboard') }}">
                {% if 'single_image' == admin_pool.getOption('title_mode') or 'both' == admin_pool.getOption('title_mode') %}
                    <img style="max-width: 100%;max-height: 90%;" src="{{ asset(admin_pool.titlelogo) }}" alt="{{ admin_pool.title }}">
                {% endif %}
            </a>
        {% endspaceless %}
    {% endif %}
{% endblock %}
{# custom sidebar #}
{% block side_bar_nav %}
    {{ parent() }}
{% endblock side_bar_nav %}
{% block side_bar_after_nav %}
    <p class="text-center small" style="border-top: 1px solid #444444; padding-top: 10px"><a href="https://gooapps.net" rel="noreferrer" target="_blank">Powered by Goo Apps S.L.</a></p>
{% endblock %}

{# custom top right menu #}
{% block sonata_top_nav_menu %}
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            {#<li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-plus-square fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                {% include admin_pool.getTemplate('add_block') %}
            </li>#}
            <li><a href="{{ path('homepage') }}" data-toggle="tooltip" data-placement="bottom" title="Go Homepage"><i class="fa fa-home" aria-hidden="true"></i></a></li>
            <li><a href="{{ path('sonata_user_admin_security_logout') }}" data-toggle="tooltip" data-placement="bottom" title="Logout"><i class="fa fa-power-off" style="color:darkred"></i></a></li>
        </ul>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/view/css/adminStyles.css')}}">
    <style>
        .cat-input{
            width: 100%; 
        }
    </style>
{% endblock %}